APP_NAME=TonMaiKongPhor
DEBUG=True
DATABASE_URL=mysql+pymysql://YOUR_DB_USER:YOUR_DB_PASS@iot.cpe.ku.ac.th:3306/YOUR_DB_NAME
MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC=tonmaikongphor/sensors
OPENWEATHER_API_KEY=your-api-key
DB_USER=your-username
DB_PASS=your-password
DB_HOST=iot.cpe.ku.ac.th
DB_PORT=3306
DB_NAME=your-name
