APP_NAME=TonMaiKongPhor
DEBUG=True
DATABASE_URL=mysql+pymysql://USER:PASSWORD@HOST:PORT/DBNAME
MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC=tonmaikongphor/sensors
OPENWEATHER_API_KEY=your_openweather_api_key_here
DB_USER=your_db_user
DB_PASS=your_db_password
DB_HOST=your_db_host
DB_PORT=3306
DB_NAME=your_db_name