APP_NAME=TonMaiKongPhor
DEBUG=True
DATABASE_URL=mysql+pymysql://b6710545792:patthiaon.p@ku.th@iot.cpe.ku.ac.th:3306/b6710545792
MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC=tonmaikongphor/sensors
OPENWEATHER_API_KEY=your_openweather_api_key_here
DB_USER=b6710545792
DB_PASS=patthiaon.p@ku.th
DB_HOST=iot.cpe.ku.ac.th
DB_PORT=3306
DB_NAME=b6710545792